@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Prata&display=swap");
* {
  font-family: "Prata", serif;
  margin: 0;
  padding: 0;
}
a {
  font-size: 1.4em;
  background-color: yellow;
  padding: 20px 50px 20px 50px;
  border: 4px gray solid;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  width: 40vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: gray;
  transition: 0.3s;
  &:hover {
    scale: 1.2;
  }
}
header {
  padding-top: 5%;
  display: flex;
  align-items: center;
  background-color: #556099;
  flex-direction: column;
  gap: 4%;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: "Prata", serif;
  > a {
    font-size: 1.4em;
    background-color: yellow;
    padding: 20px 50px 20px 50px;
    border: 4px gray solid;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    width: 40vw;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: gray;
    transition: 0.3s;
    &:hover {
      scale: 1.2;
    }
  }
  > p {
    width: 100vw;
    text-align: center;
    font-size: 2rem;
  }
  > img {
    height: 40%;
    border-radius: 100vw;
  }
  > .div1 {
    > h1 {
      width: 100vw;
      text-align: center;
      font-size: 4rem;
    }
    > p {
      width: 100vw;
      text-align: center;
      font-size: 2rem;
    }
  }
}
.divisor {
  height: 3vh;
  width: 100vw;
  background: rgb(208, 187, 184);
  background: linear-gradient(
    0deg,
    rgba(208, 187, 184, 1) 0%,
    rgba(85, 96, 153, 1) 100%
  );
}

main {
  background-color: #dad3c9;
  > img {
    width: 100%;
  }
  > div {
    margin: 0;
    background-color: #dad3c9;
    > h1 {
      padding: 5%;
      text-align: center;
      font-size: 1.7em;
    }
    > p {
      font-size: 1em;
      font-family: "Platypi", serif;
      padding: 5%;
    }
  }
}
.divisor2 {
  height: 3vh;
  width: 100vw;
  background: rgb(247, 118, 118);
  background: linear-gradient(
    0deg,
    rgba(247, 118, 118, 1) 0%,
    rgba(218, 211, 201, 1) 100%
  );
}

.divisor3 {
  height: 3vh;
  width: 100vw;
  background: rgb(85, 96, 153);
  background: linear-gradient(
    0deg,
    rgba(85, 96, 153, 1) 0%,
    rgba(247, 118, 118, 1) 100%
  );
}

footer {
  padding: 10% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #556099;
  flex-direction: column;
  width: 100vw;
  height: auto;
  color: white;
  font-family: "Prata", serif;
  > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 5%;
    > img {
      height: 15vh;
      border-radius: 100vw;
      &:hover {
        transition: 0.2s;
        scale: 1.4;
        border-radius: 20%;
      }
    }
  }
  > img {
    height: 20%;
  }
  > p {
    width: 100vw;
    text-align: center;
    font-size: 1.3rem;
  }
  > h1 {
    padding: 5%;
    text-align: center;
    font-family: "Platypi", serif;
    font-size: 1.4rem;
  }
}

.promocao {
  height: 50vh;
  background-color: rgb(247, 118, 118);
  color: yellow;
  width: 96vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  >p{
    font-size: 2em;
    text-align: center;
  }
  >.selos{ 
    >img{
    height: 15vh;
    &:hover{
        transition: 0.2s;
        scale: 1.2;
    }
  }}
}

.whatsapp{
    height: 1vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    border: 2px solid transparent;
    background-color: transparent;
    
}
.fa{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-icons-img{
    height: 5vh;
    width: auto;
}